@use "mixin" as *;

.footer {
  &__body {
    display: flex;
    @media (max-width: rem(992)) {
      flex-direction: column;
      gap: rem(50);
    }
    .col-01 {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(10);
      padding-bottom: rem(20);
      @media (max-width: rem(992)) {
        width: 100%;
        padding-bottom: 0;
      }
      a {
        display: flex;
      }
      p {
        color: #3516b1;
        font-size: rem(16);
        font-weight: 600;
        line-height: 1.2;
        text-align: left;
        text-transform: uppercase;
      }
    }
    .col-02 {
      width: 70%;
      display: flex;
      flex-direction: column;
      @media (max-width: rem(992)) {
        width: 100%;
      }
      .row {
        padding: rem(20) 0;
        border-bottom: 1px solid #f2f2f24d;
        display: flex;
        @media (max-width: rem(992)) {
          flex-wrap: wrap;
          row-gap: rem(20);
          column-gap: rem(16);
        }
        &:last-child {
          border: none;
        }
        &:first-child {
          padding-top: 0;
        }
        &.main-menu {
          > div {
            > a {
              font-weight: 500;
            }
          }
        }
        > div {
          width: 25%;
          @media (max-width: rem(992)) {
            width: calc(50% - 8px);
          }
          span {
            color: #3516b1;
            font-size: rem(16);
            font-weight: 700;
            line-height: 1.2;
            text-align: left;
            a {
              color: #3516b1;
              font-size: rem(16);
              font-weight: 700;
              line-height: 1.2;
              text-align: left;
            }
          }
          > a {
            color: #ffffff;
            font-size: rem(16);
            font-weight: 300;
            line-height: 1.2;
            text-align: left;
          }
        }
      }
    }
  }
  &__contacts {
    display: flex;
    padding: rem(35) 0;
    border-top: 1px solid #f2f2f24d;
    @media (max-width: rem(992)) {
      flex-direction: column;
      gap: rem(30);
    }
    .col-01 {
      width: 30%;
      display: flex;
      flex-direction: column;
      gap: rem(18);
      @media (max-width: rem(992)) {
        width: 100%;
        flex-direction: row;
        gap: rem(16);
      }
      > div {
        width: 100%;
        @media (max-width: rem(992)) {
          width: calc(50% - 8px);
        }
        span {
          color: #3516b1;
          font-size: rem(16);
          font-weight: 700;
          line-height: 1.2;
          text-align: left;
          a {
            color: #3516b1;
            font-size: rem(16);
            font-weight: 700;
            line-height: 1.2;
            text-align: left;
          }
        }
        > a {
          color: #ffffff;
          font-size: rem(16);
          font-weight: 300;
          line-height: 1.2;
          text-align: left;
        }
      }
    }
    .col-02 {
      width: 70%;
      display: flex;
      gap: rem(44);
      @media (max-width: rem(992)) {
        width: 100%;
        flex-wrap: wrap;
        gap: rem(30);
      }
      > div {
        width: calc(50% - 22px);
        max-width: rem(310);
        @media (max-width: rem(992)) {
          width: 100%;
          max-width: 100%;
        }
        span {
          color: #3516b1;
          font-size: rem(16);
          font-weight: 700;
          line-height: 1.2;
          text-align: left;
          a {
            color: #3516b1;
            font-size: rem(16);
            font-weight: 700;
            line-height: 1.2;
            text-align: left;
          }
        }
        > a {
          color: #ffffff;
          font-size: rem(16);
          font-weight: 300;
          line-height: 1.2;
          text-align: left;
        }
      }
    }
  }
  &__copy {
    padding: rem(30) 0;
    border-top: 1px solid #f2f2f24d;
    color: #ffffff80;
    font-size: rem(16);
    font-weight: 300;
    line-height: 1.2;
    text-align: left;
    text-align: center;
    @media (max-width: rem(992)) {
      text-align: left;
    }
  }
}
