@use "mixin" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 999;

  &.active {
    background-color: #000000e5;
    backdrop-filter: blur(5px);
    .header__body {
      padding: 20px 0;
      border: none;
    }
  }
  &__container {
  }

  &__body {
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    padding: 30px 0 30px 0;
    border-bottom: 1px solid #ffffff40;
    @media (max-width: 767px) {
      padding: 20px 0;
    }
  }

  &__logo {
    a {
      display: flex;
      align-items: center;
    }
  }

  &__col-01 {
  }

  &__col-02 {
    position: relative;
    z-index: 2;
  }

  &__btn-menu {
    cursor: pointer;
  }

  &__menu {
    position: absolute;
    z-index: 1;
    top: 0;
    right: calc((100% - 1142px) / 2);
    width: 58%;
    min-height: 100vh;
    background-color: #000000e5;
    backdrop-filter: blur(15px);
    transition: all 0.3s ease 0s;
    opacity: 0;
    visibility: hidden;

    @media (max-width: 767px) {
      top: 75px;
      min-height: calc(100vh - 75px);
      width: 100%;
      right: 0;
    }

    &._active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__nav {
  }

  &__list {
    @include adaptiv-value("padding-top", 94, 0, 1);
    @include adaptiv-value("padding-bottom", 94, 0, 1);
    @include adaptiv-value("padding-left", 60, 0, 1);
    @include adaptiv-value("padding-right", 60, 0, 1);
    position: relative;
  }

  &__item-menu {
    max-width: 310px;
    &:first-child {
      > a {
        text-transform: uppercase;
      }
    }
    a,
    .wrapper {
      padding: 24px;
      border-bottom: 1px solid #6d6d6d4d;
      display: flex;
      width: 100%;
      max-width: 350px;

      font-weight: 600;
      color: #fff;
      @include adaptiv-value("font-size", 24, 22, 1);
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: all 0.3s ease 0s;
      @media (max-width: 767px) {
        padding: 20px 0;
      }
      &:hover {
        color: #3516b1;
      }
    }

    .wrapper {
      a {
        padding: 0;
        border: none;
      }
      .btn {
        img {
          transform: rotate(0);
          transition: all 0.5s;
        }
      }
      &:hover {
        .btn {
          img {
            transform: rotate(-180deg);
          }
        }
      }
    }

    @media (max-width: 992px) {
      max-width: 100%;

      a,
      .wrapper {
        max-width: 100%;
      }
    }

    &._submenu {
      &._open {
        .wrapper {
          .btn {
            @media (max-width: 992px) {
              transform: rotate(-90deg);
            }
          }
        }
      }
    }
  }

  &__submenu {
    @media (max-width: 767px) {
      padding: 0 !important;
    }
    @media (min-width: 992px) {
      position: absolute;
      top: 80px;
      left: 400px;
    }
  }

  &__subitem {
    a {
      border: none;
      width: 100%;
      max-width: 100%;
      text-transform: none;
      font-weight: 300;
      @media (max-width: 992px) {
        padding: 15px 20px;
        font-size: 18px;
        line-height: normal;
        text-transform: none;
        border-bottom: none;
      }
    }
  }
}
