@use "mixin" as *;

.home-changes {
  margin: rem(180) 0;
  .marquee-container{
    margin-bottom: -80px;
  }
  h2 {
    color: #f5f5f5;
    font-size: rem(44);
    font-weight: 600;
    line-height: 1.2;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: rem(50);
    position: relative;
    z-index: 1;
  }
  &__body {
    display: flex;
    gap: rem(35);
    > div {
      width: 25%;
      padding: rem(24) rem(24) rem(40) rem(24);
      border-radius: rem(16);
      background: linear-gradient(360deg, #000000 0%, #666666 100%);
      position: relative;
      &:hover{
        h3{
            color: #9276FF;
        }
      }
      &::before {
        content: "";
        border-radius: rem(16);
        position: absolute;
        z-index: 0;
        left: 1px;
        top: 1px;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        background: #080808;
      }
      h3 {
        color: #ffffff;
        font-size: rem(22);
        font-weight: 400;
        line-height: 1.2;
        text-align: left;
        margin-bottom: rem(16);
        position: relative;
        z-index: 1;
      }
      p {
        color: #ffffff;
        font-size: rem(16);
        font-weight: 300;
        line-height: 1.2;
        text-align: left;
        position: relative;
        z-index: 1;
      }
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  z-index: 0;

  .marquee {
    display: inline-block;
    animation: marquee 200s linear infinite;
    color: #000000;
    font-size: rem(220);
    font-weight: 700;
    line-height: 1;
    text-align: left;
    position: relative;
  }
}

.response-challenges {
  margin: rem(180) 0;
  h2 {
    color: #f5f5f5;
    font-size: rem(44);
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: rem(60);
  }
  .marquee-container {
    margin-top: -100px;
  }
  a {
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }
  &__body {
    display: flex;
    flex-direction: column;
    gap: rem(10);
    margin-bottom: rem(90);
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: rem(24) rem(32);
      border-bottom: 0.5px solid #5f5f5f;
      &:hover {
        > div {
          > span {
            width: rem(450);
          }
        }
        .arrow {
          background: #3516b1;
          svg {
            path {
              fill: #f5f5f5;
            }
          }
        }
      }
      .number {
        color: #f5f5f580;
        font-size: rem(24);
        font-weight: 300;
        line-height: 1.2;
        text-align: left;
      }
      > div {
        display: flex;
        align-items: center;
        gap: rem(50);
        max-width: 80%;
        h3 {
          color: #f5f5f580;
          font-size: rem(32);
          font-weight: 400;
          line-height: 1.2;
          text-align: center;
        }
        > span {
          overflow: hidden;
          width: 0;
          transition: all 0.5s;
          p {
            color: #f5f5f5;
            font-size: rem(15);
            font-weight: 300;
            line-height: 1.2;
            text-align: left;
            width: rem(450);
          }
        }
      }
      .arrow {
        width: rem(44);
        height: rem(44);
        border-radius: 50%;
        background: #d9d9d9;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        display: flex;
        svg {
          width: rem(26);
        }
      }
    }
  }
}

.home-means {
  margin: rem(180) 0;
  &__body {
    display: flex;
    gap: 100px;
    .col-01 {
      width: calc(40% - 50px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h2 {
        color: #f5f5f580;
        font-size: rem(24);
        font-weight: 500;
        line-height: 1.2;
        text-align: left;
        text-transform: uppercase;
      }
    }
    .col-02 {
      width: calc(60% - 50px);
      display: flex;
      column-gap: 80px;
      row-gap: 60px;
      flex-wrap: wrap;
      > div {
        width: calc(50% - 40px);
        &:hover {
          h3 {
            color: #9276ff;
          }
        }
        h3 {
          color: #f5f5f5;
          font-size: rem(44);
          font-weight: 700;
          line-height: 1;
          text-align: left;
        }
        h4 {
          color: #f5f5f5;
          font-size: rem(24);
          font-weight: 300;
          line-height: 1.2;
          text-align: left;
        }
        p {
          color: #f5f5f580;
          font-size: rem(16);
          font-style: italic;
          font-weight: 300;
          line-height: 1.2;
          text-align: left;
          margin-top: rem(24);
        }
      }
    }
  }
}
