@use "mixin" as *;

.services-hero {
  padding: rem(184) 0 rem(0) 0;
  position: relative;
  @media (max-width: rem(992)) {
    padding: rem(150) 0 rem(0) 0;
  }

  &.space-between {
    .services-hero__body {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
      @media (max-width: rem(992)) {
        flex-direction: column;
      }
      h1 {
        text-align: left;
        width: 100%;
      }
      p {
        text-align: right;
        width: 100%;
        max-width: 47%;
        margin-top: -65px;
        @media (max-width: rem(992)) {
          max-width: 100%;
          margin: 0 0 50px 0;
          text-align: left;
        }
      }
      > div {
        width: 100%;
      }
    }
  }

  &.space-between-product {
    .services-hero__body {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
      @media (max-width: rem(992)) {
        flex-direction: column;
      }
      h1 {
        text-align: left;
        width: 100%;
      }
      p {
        text-align: right;
        width: 100%;
        max-width: 47%;
        margin-top: -85px;
        @media (max-width: rem(992)) {
          max-width: 100%;
          margin: 0 0 50px 0;
          text-align: left;
        }
      }
      > div {
        width: 100%;
      }
    }
  }

  .video-wrap {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: rem(200);
      left: 0;
      top: 0;
      background: linear-gradient(180deg, #090909 0%, rgba(0, 0, 0, 0) 100%);
      position: absolute;
      z-index: 1;
    }
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: rem(200);
      left: 0;
      bottom: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #090909 100%);
      position: absolute;
      z-index: 1;
    }
    video {
      min-height: 100%;
      height: auto;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      width: auto;
      position: absolute;
      opacity: 0.5;
      min-width: 100%;
    }
  }
  &__body {
    position: relative;
    z-index: 1;
    h1 {
      color: #f5f5f5;
      font-size: rem(80);
      font-weight: 700;
      line-height: 1.2;
      text-align: center;
      margin-bottom: rem(60);
      @media (max-width: rem(992)) {
        font-size: rem(42);
        margin-bottom: rem(30);
      }
      span {
        background: linear-gradient(92.12deg, #3516b1 0.49%, #9276ff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    p {
      color: #ffffff;
      font-size: rem(22);
      font-style: italic;
      font-weight: 200;
      line-height: 1.2;
      text-align: center;
      margin-bottom: rem(80);
    }
    > div {
      background: linear-gradient(0deg, #000000 0%, #666666 100%);
      position: relative;
      overflow: hidden;
      border-radius: rem(24);
      padding: 1px;
      @media (max-width: rem(992)) {
        display: flex;
        justify-content: center;
      }
      img {
        width: 100%;
        border-radius: rem(24);
        &.mob {
          display: none;
          @media (max-width: rem(767)) {
            display: block;
          }
        }
        &.pc {
          display: block;
          @media (max-width: rem(767)) {
            display: none;
          }
        }
        @media (max-width: rem(992)) {
          height: rem(380);
          width: auto;
          max-width: unset;
        }
      }
    }
  }
}

.services-loop {
  &__body {
    .row {
      display: flex;
      align-items: center;
      padding: rem(50) rem(0);
      border-bottom: 0.5px solid #5f5f5f;
      gap: rem(90);
      @media (max-width: rem(992)) {
        padding: rem(20) rem(0);
        flex-wrap: wrap;
        column-gap: 0;
        row-gap: rem(20);
      }
      &:hover {
        * {
          opacity: 1;
        }
        a,
        button {
          border-color: #9276ff;
        }
        > div {
          > span {
            width: rem(450);
          }
        }
        .arrow {
          background: #3516b1;
          svg {
            path {
              fill: #f5f5f5;
            }
          }
        }
      }
      .number {
        color: #f5f5f580;
        font-size: rem(24);
        font-weight: 300;
        line-height: 1.2;
        text-align: left;
        opacity: 0.5;
        width: 50px;
        @media (max-width: rem(992)) {
          font-size: rem(16);
          opacity: 1;
          width: rem(40);
        }
      }
      h3 {
        color: #f5f5f580;
        font-size: rem(26);
        font-weight: 400;
        line-height: 1.2;
        text-align: left;
        width: rem(220);
        opacity: 0.5;
        @media (max-width: rem(992)) {
          font-size: rem(24);
          flex-grow: 1;
          opacity: 1;
        }
      }
      p {
        color: #f5f5f5;
        font-size: rem(15);
        font-weight: 300;
        line-height: 1.2;
        text-align: left;
        width: rem(464);
        opacity: 0.5;
        @media (max-width: rem(992)) {
          width: 100%;
          opacity: 1;
        }
      }
      a {
        opacity: 0.5;
        @media (max-width: rem(992)) {
          opacity: 1;
        }
      }
    }
  }
}

.why {
  margin-bottom: rem(180);
  @media (max-width: rem(992)) {
    margin-bottom: rem(120);
  }
  &__body {
    display: flex;
    gap: 100px;
    @media (max-width: rem(992)) {
      flex-direction: column;
      gap: rem(40);
    }
    .col-01 {
      width: calc(27% - 50px);
      @media (max-width: rem(992)) {
        width: 100%;
      }
      h2 {
        color: #f5f5f580;
        font-size: rem(24);
        font-weight: 500;
        line-height: 1.2;
        text-align: left;
        text-transform: uppercase;
        @media (max-width: rem(992)) {
          text-align: center;
        }
      }
    }
    .col-02 {
      width: calc(73% - 50px);
      @media (max-width: rem(992)) {
        width: 100%;
      }
      display: flex;
      gap: rem(50);
      flex-wrap: wrap;
      @media (max-width: rem(992)) {
        width: 100%;
        gap: rem(40);
      }
      > div {
        width: calc(33.33% - 34px);
        @media (max-width: rem(992)) {
          width: 100%;
        }
        &:hover {
          h3 {
            color: #9276ff;
          }
        }
        h3 {
          color: #f5f5f5;
          font-size: rem(44);
          font-weight: 700;
          line-height: 1;
          text-align: left;
          @media (max-width: rem(992)) {
            font-size: rem(32);
            text-align: center;
          }
        }
        h4 {
          color: #f5f5f5;
          font-size: rem(24);
          font-weight: 300;
          line-height: 1.2;
          text-align: left;
          @media (max-width: rem(992)) {
            font-size: rem(16);
            text-align: center;
          }
        }
        p {
          color: #f5f5f580;
          font-size: rem(16);
          font-style: italic;
          font-weight: 300;
          line-height: 1.2;
          text-align: left;
          margin-top: rem(24);
          @media (max-width: rem(992)) {
            margin-top: rem(14);
            font-size: rem(14);
            text-align: center;
          }
        }
      }
    }
  }
}
