@use "mixin" as *;

.way-hero {
  padding: rem(184) 0 rem(180) 0;
  position: relative;
  @media (max-width: rem(992)) {
    padding: rem(150) 0 rem(100) 0;
  }

  &.space-between {
    .way-hero__body {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
      @media (max-width: rem(992)) {
        flex-direction: column;
      }
      h1 {
        text-align: left;
        width: 100%;
      }
      p {
        text-align: right;
        width: 100%;
        max-width: 47%;
        margin-top: -65px;
        @media (max-width: rem(992)) {
          max-width: 100%;
          margin: 0 0 50px 0;
          text-align: left;
        }
      }
      > div {
        width: 100%;
      }
    }
  }

  &.space-between-product {
    .way-hero__body {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
      @media (max-width: rem(992)) {
        flex-direction: column;
      }
      h1 {
        text-align: left;
        width: 100%;
      }
      p {
        text-align: right;
        width: 100%;
        max-width: 47%;
        margin-top: -85px;
        @media (max-width: rem(992)) {
          max-width: 100%;
          margin: 0 0 50px 0;
          text-align: left;
        }
      }
      > div {
        width: 100%;
      }
    }
  }

  .video-wrap {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: rem(200);
      left: 0;
      top: 0;
      background: linear-gradient(180deg, #090909 0%, rgba(0, 0, 0, 0) 100%);
      position: absolute;
      z-index: 1;
    }
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: rem(200);
      left: 0;
      bottom: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #090909 50%);
      position: absolute;
      z-index: 1;
    }
    video {
      min-height: 100%;
      height: auto;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      width: auto;
      position: absolute;
      opacity: 0.5;
      min-width: 100%;
    }
  }
  &__body {
    position: relative;
    z-index: 1;
    h1 {
      color: #f5f5f5;
      font-size: rem(80);
      font-weight: 700;
      line-height: 1.2;
      text-align: center;
      margin-bottom: rem(60);
      @media (max-width: rem(992)) {
        font-size: rem(42);
        margin-bottom: rem(30);
      }
      span {
        background: linear-gradient(92.12deg, #3516b1 0.49%, #9276ff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    p {
      color: #ffffff;
      font-size: rem(22);
      font-style: italic;
      font-weight: 200;
      line-height: 1.2;
      text-align: center;
      margin-bottom: rem(80);
    }
    > div {
      background: linear-gradient(0deg, #000000 0%, #666666 100%);
      position: relative;
      overflow: hidden;
      border-radius: rem(24);
      padding: 1px;
      @media (max-width: rem(992)) {
        display: flex;
        justify-content: center;
      }
      img {
        width: 100%;
        border-radius: rem(24);
        &.mob {
          display: none;
          @media (max-width: rem(767)) {
            display: block;
          }
        }
        &.pc {
          display: block;
          @media (max-width: rem(767)) {
            display: none;
          }
        }
        @media (max-width: rem(992)) {
          height: rem(380);
          width: auto;
          max-width: unset;
        }
      }
    }
  }
}

.steps {
  margin-bottom: rem(140);
  @media (max-width: rem(992)) {
    margin-bottom: rem(100);
  }

  .button-wrap {
    display: flex;
    justify-content: center;
    margin-top: rem(120);
    @media (max-width: rem(992)) {
      margin-top: rem(60);
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(26);
    position: relative;
    @media (max-width: rem(992)) {
      align-items: flex-start;
    }
    &::before {
      content: "";
      display: block;
      width: 1px;
      top: 0;
      height: 90%;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      z-index: 0;
      background: #5f5f5f;
      @media (max-width: rem(992)) {
        left: rem(25);
      }
    }
    .step {
      width: 50%;
      margin-right: 0;
      margin-left: auto;
      display: flex;
      gap: rem(50);
      position: relative;
      z-index: 1;
      align-items: flex-start;
      @media (max-width: rem(992)) {
        margin: 0;
        gap: rem(35);
        width: 100%;
      }
      &:nth-child(even) {
        margin-left: 0;
        margin-right: auto;
        flex-direction: row-reverse;
        @media (max-width: rem(992)) {
          margin: 0;
          flex-direction: row;
        }
        img {
          margin-left: 0;
          margin-right: -25px;
          @media (max-width: rem(992)) {
            margin: 0;
          }
        }
        div {
          h3 {
            text-align: right;
            @media (max-width: rem(992)) {
              text-align: left;
            }
          }
          p {
            text-align: right;
            @media (max-width: rem(992)) {
              text-align: left;
            }
          }
        }
      }
      img {
        width: rem(50);
        margin-left: -25px;
        @media (max-width: rem(992)) {
          margin: 0;
        }
      }
      div {
        width: calc(100% - rem(100));
        @media (max-width: rem(992)) {
          width: calc(100% - rem(85));
        }
        h3 {
          color: #f5f5f5;
          font-size: rem(20);
          font-weight: 700;
          line-height: 1.2;
          text-align: left;
          margin-bottom: rem(5);
          @media (max-width: rem(992)) {
            text-align: left;
          }
          span {
            display: block;
            color: #3516b1;
          }
        }
        p {
          color: #f5f5f599;
          font-size: rem(16);
          font-weight: 400;
          line-height: 1.2;
          text-align: left;
        }
      }
    }
  }
}
